<div class="content">
  <div>
    <button class='register-button ' style='float: right!important' (click)="openRegisterModal()">
      <i class='fa fa-chevron-left'></i>REGISTRAR</button>
  </div>
  <div class=" table-responsive">
    <table class="table table-striped" style="width: 90vw!important;">
      <thead>
        <tr></tr>
      </thead>
    </table>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nome Completo</th>
          <th scope="col">CPF</th>
          <th scope="col">Data Nascimento</th>
          <th scope="col">Valor Patrimonial</th>
          <th scope="col">Situação Candidatura</th>
          <th scope="col">Número da Urna</th>
          <th scope="col">Ocupação</th>
          <th scope="col">Vice-Prefeito?</th>
          <th scope="col">Vereador?</th>
          <th scope="col">Partido</th>
          <th scope="col">Vice-Prefeito</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of data; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ user }}
          </td>
          <td>
            <i class="fa fa-pencil" (click)="editUserModal(user)" aria-hidden="true"></i>
            <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteUser(user)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
