<div class="container">
  <form class="form-signup row" (ngSubmit)="submit()" [formGroup]='registerForm' autocomplete="on">
    <div class='col-xs-12'>
      <h4>CADASTRO</h4>
      <div class='row'>
        <div class='form-group col-sm-6'>
          <label for='name'>Nome Completo:</label>
          <input id='name' placeholder='Nome*' type='text' class='form-control' formControlName='name' required
            [ngClass]='fieldHasErrors("name")' maxlength="50">
          <!--app-field-feedback [field]='"Nome"' [control]='registerForm.get("name")'></app-field-feedback-->
        </div>
        <div class='form-group col-sm-6'>
          <label for='lastName'>CPF:</label>
          <input id='lastName' placeholder='CPF' type='text' class='form-control' formControlName='cpf' required
            [ngClass]='fieldHasErrors("cpf")' pattern="[0-9]{3}\.[0-9]{3}\.[0-9]{3}-[0-9]{2}"
            mask="d{3}\.d{3}\.d{3}-d{2}">
          <!--app-field-feedback [field]='"cpf"' [control]='registerForm.get("cpf")'></app-field-feedback-->
        </div>
      </div>
      <div class='row'>
        <div class='form-group col-sm-6'>
          <label for='bornDate' class=''>Data de Nascimento*:</label>
          <input id='bornDate' type='date' class='form-control' date formControlName='bornDate' required
            [ngClass]='fieldHasErrors("bornDate")'>
          <!--app-field-feedback [field]='"E-mail"' [control]='registerForm.get("bornDate")'></app-field-feedback-->
        </div>
        <div class='form-group col-sm-6'>
          <label for='patValor' class=''>Valor Patrimonial*</label>
          <input id='patValor' placeholder="Valor Patrimonial" type='text' class='form-control'
            formControlName='patValor' [ngClass]='fieldHasErrors("patValor")'>
          <!--Nao é required-->
          <!--app-field-feedback [field]='"Valor Patrimonial"' [control]='registerForm.get("patValor")'>
          </app-field-feedback-->
        </div>
      </div>
    </div>
    <div class='col-xs-12' style='margin-top:20px;'>
      <div class='row'>
        <div class='form-group col-sm-8'>
          <label for='state'>Situação Candidatura:</label>
          <div class="select-content">
            <select id='state' placeholder='Situação' type='text' class='form-control' formControlName='state'
              value='Situação' [ngClass]='fieldHasErrors("state")' style="-moz-appearance: none;
                  -webkit-appearance: none; appearance: none;cursor: pointer;">
              <!--é requerido-->
              <option>Deferido</option>
              <option>Indeferido</option>
              <option>Inapto</option>
              <option>Em análise</option>
            </select></div>
          <!--app-field-feedback [field]='"Situação"' [control]='registerForm.get("Situação")'></app-field-feedback-->
        </div>
        <div class='form-group col-sm-3'>
          <label for='numberU'>Nº Urna:</label>
          <input id='numberU' placeholder='Número da Urna*' type='text' class='form-control' required
            formControlName='numberU' [ngClass]='fieldHasErrors("numberU")' maxlength="3">
          <!--app-field-feedback [field]='"Urna"' [control]='registerForm.get("numberU")'></app-field-feedback-->
        </div>
      </div>
      <div class="row">
        <div class='form-group col-sm-8'>
          <label for='occupation'>Ocupação:</label>
          <input id='occupation' placeholder='Ocupação' type='text' class='form-control' formControlName='occupation'
            [ngClass]='fieldHasErrors("occupation")' maxlength="100">
          <!--app-field-feedback [field]='"Ocupação"' [control]='registerForm.get("occupation")'></app-field-feedback-->
        </div>
        <div class='form-group col-sm-4'>
          <label class="" style="display:flex">
            <input #vice type="radio" value='vice' formControlName='vice' [ngClass]='fieldHasErrors("vice")'
              class='form-control' checked='true'>
            <span style="padding-top:10px;">Vice-Prefeito</span>
          </label><br>
          <label class="" style="display:flex">
            <input type="radio" #ver value='ver' formControlName='ver' [ngClass]='fieldHasErrors("ver")'
              class='form-control'>
            <span style="padding-top:10px;">Vereador</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class='form-group col-sm-6'>
          <label for='party'>Partido:</label>
          <input id='party' placeholder='Partido' type='text' class='form-control' formControlName='party'
            [ngClass]='fieldHasErrors("party")' maxlength="100">
          <!--app-field-feedback [field]='"Partido"' [control]='registerForm.get("party")'></app-field-feedback-->
        </div>
        <div class='form-group col-sm-6'>
          <label for='vicePrefFk'>Vice-Prefeito:</label>
          <input id='vicePrefFk' placeholder='Vice-Prefeito' type='text' class='form-control'
            formControlName='vicePrefFk' [ngClass]='fieldHasErrors("vicePrefFk")'>
          <!--app-field-feedback [field]='"Vice-Presidente"' [control]='registerForm.get("vicePrefFk")'>
          </app-field-feedback-->
        </div>
      </div>
    </div>
    <div class='col-sm-12' style='margin-top: 16px;'>
      <button class='btn-secondary ' style='float: left !important'>
        <i class='fa fa-chevron-left' (click)="onCancel()"></i>VOLTAR</button>
      <button class='save-button' style='float: right !important' [disabled]='!registerForm.valid'
        (click)="onConfirm()">SALVAR
      </button>
    </div>
  </form>
</div>
